header {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.header__contain {
  display: flex;
  justify-content: space-between;

  padding: 15px 30px;
  border-bottom: 1px solid var(--grey-border);
}

.header__search {
  display: flex;
  align-items: center;

  position: relative;
}

.header__search input {
  border: 1px solid var(--grey-border);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 52vw;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header__search box-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.header__buttons,
.header__desktop {
  display: none;
}

.header__desktop li {
  list-style: none;
  margin: 10px 15px;
}

.header__mobile {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.header__nav-mobile {
  display: flex;
  justify-content: space-around;

  width: 80%;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background-color: var(--white);
  box-shadow: 1px 1px 20px var(--grey-border);
}

.header__menu-drop {
  display: flex;
  justify-content: center;

  visibility: hidden;
  z-index: 4;

  position: absolute;
  left: 0;

  width: 100%;
  margin: 12px;
}

.header__drop {
  display: flex;
  justify-content: space-around;

  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0 2px 5px var(--grey-border);
  min-width: 60%;
}

.header__menu-drop ul {
  padding: 10px 25px;
}

.header__desktop.active {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 60%;
  height: 100%;

  border: 1px solid var(--grey-border);
  background-color: var(--white);

  position: absolute;
  top: 0;
  z-index: 1;
  padding: 15px;
}

.header__desktop.active .header__navmobile {
  display: flex;
  justify-content: end;

  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--grey-border);
}

.header__desktop.active a {
  font-weight: 600;
}

.header__more-categories {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__menu-drop.active {
  display: flex;
  justify-content: flex-start;

  visibility: visible;
  position: relative;

  width: 100%;
  margin: 0;
}

.header__menu-drop.active .header__drop {
  flex-direction: column;
  justify-content: flex-start;

  box-shadow: none;
  width: 100%;
}

.header__menu-drop.active ul {
  padding: 0;
}

.header__menu-drop.active .header__cat {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 15px;
}

.header__menu-drop.active li {
  display: none;
}

@media (min-width: 600px) {
  .header__mobile .header__nav-mobile {
    display: none;
  }

  .header__categories:hover .header__menu-drop {
    visibility: visible;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90px;
  }

  .header__desktop {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0px;
  }

  .header__desktop a {
    transition: all 0.3s ease;
  }

  .header__desktop a:hover {
    color: var(--color-destak);
  }

  .header__cat {
    font-weight: bold;
  }
}
