header {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: black;
}

.contain-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid var(--grey-border);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  border: 1px solid var(--grey-border);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 52vw;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search box-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.nav-desktop {
  display: none;
}

.nav-desktop box-icon {
  margin: 6px;
}

.navigator-desktop {
  display: none;
}

.navigator-desktop li {
  list-style: none;
  margin: 10px 15px;
}

.navigator-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.navigator-mobile .nav-mobile {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--white);
  box-shadow: 1px 1px 20px var(--grey-border);
}

.menu-drop {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 12px;
  z-index: 5;
}

.drop {
  display: flex;
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0 2px 5px var(--grey-border);
  justify-content: space-around;
  min-width: 60%;
}

.menu-drop ul {
  padding: 10px 25px;
}

.navigator-desktop.active {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 8px;
  height: 100%;
  border: 1px solid var(--grey-border);
  z-index: 4;
  position: absolute;
  top: 0;
  padding: 15px;
  background-color: var(--white);
}

.navigator-desktop.active .btn-mobile {
  display: flex;
  justify-content: end;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--grey-border);
}

.navigator-desktop.active a {
  font-weight: 600;
}

.more-categories {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu-drop.active {
  visibility: visible;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

.menu-drop.active .drop {
  flex-direction: column;
  box-shadow: none;
  justify-content: flex-start;
  width: 100%;
}

.menu-drop.active ul {
  padding: 0;
}

.menu-drop.active .cat {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 15px;
}

.menu-drop.active li {
  display: none;
}

@media (min-width: 600px) {
  .navigator-mobile .nav-mobile {
    display: none;
  }

  .categories:hover .menu-drop {
    visibility: visible;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
  }

  .navigator-desktop {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0px;
  }

  .navigator-desktop a {
    transition: all 0.3s ease;
  }

  .btn-more-categories {
    display: none;
  }

  a {
    cursor: pointer;
  }

  .cat {
    font-weight: bold;
  }
}
