* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --white: #ffffff;
  --grey-border: #e3e1e1;
  --color-hover: #dbc2a4;
  --color-title: #44312b;
  --color-destak: #c45389;
  --backround-offwhite: #f2f2f2;
  --background-btn: #de76ac;
  --background-btn-hover: #e98dc5;
  --color-new: rgb(225, 225, 1);
  --color-hot: rgb(189, 30, 30);
  --color-promo: rgb(15, 171, 15);
  --black-border: rgb(119, 119, 119);
  --color-black: rgb(0, 0, 0);
}

body {
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 3px 0;
}

a:hover {
  color: var(--color-destak);
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-border);
  border-radius: 20px;
}

/*------------------- CAPA ---------------------*/

.capa {
  width: 100vw;
  padding: 15px 10px;
}

.capa__contain {
  background-color: var(--backround-offwhite);
  border-radius: 10px;
  display: flex;
  padding: 10px 0 0 10px;
  position: relative;
}

.capa__contain article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.capa__contain h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: var(--color-title);
}

.capa__contain h3 {
  font-size: 15px;
  line-height: 0px;
  margin-bottom: 10px;
  color: var(--color-title);
}

.capa__contain h2 {
  font-size: 45px;
  line-height: 45px;
  color: var(--color-destak);
}

.capa__button {
  display: flex;
  justify-content: center;
}

.capa__button button {
  padding: 5px 10px;
  position: absolute;
  left: 40%;
  bottom: -10px;
  background-color: var(--background-btn);
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 12px var(--grey-border);
  color: var(--white);
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: all 1s ease;
}

.capa__button button:hover {
  background-color: var(--background-btn-hover);
}

.capa__img {
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.capa__img img {
  width: 150px;
}

/*------------------- CATEGORIAS ---------------------*/

.categories {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.categories__scroll {
  width: 100%;
  display: flex;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.categories__item {
  min-width: 100vw;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.categories__box {
  width: 85%;
  padding: 15px;
  box-shadow: 0 2px 12px var(--grey-border);
  border-radius: 15px;
  display: flex;
}

.categories__ico {
  background-color: var(--backround-offwhite);
  border-radius: 10px;
  width: 20%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories__content {
  width: 80%;
}

.categories__title {
  display: flex;
  justify-content: space-between;
}

.categories a {
  text-decoration: none;
  color: var(--color-destak);
  font-weight: 500;
  font-size: 14px;
}

/*------------------- TRENDS ---------------------*/

.trends {
  display: flex;
  justify-content: center;
}

.trends__news.hidden {
  display: none;
}

.trends__hots {
  display: none;
}

.trends__hots.hidden {
  display: flex;
  flex-direction: column;
}

.trends__product {
  width: 100%;
  padding: 15px;
  box-shadow: 0 2px 12px var(--grey-border);
  border-radius: 15px;
  display: flex;
  margin: 15px 0;
}

.trends__news,
.trends__hots {
  margin: 0 30px;
}

.trends__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.trends__img {
  width: 40%;
  height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.trends__img img {
  height: 75px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.trends__content {
  width: 60%;
}

h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*------------------- CONTAINER ---------------------*/

.promo,
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__head,
.products__head {
  padding: 10px 5px;
  margin: 15px 25px;
  border-bottom: 1px solid var(--grey-border);
  width: 85%;
}

.promo__contain,
.products__contain {
  border: 1px solid var(--grey-border);
  border-radius: 15px;
  background-color: var(--white);
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.promo__contain img {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.promo__content p {
  font-size: 13px;
  margin-bottom: 10px;
}

.promo__content button {
  margin: 10px 0;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-destak);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s;
}

.promo__content button:hover,
.products__content button:hover,
.subscribe button:hover {
  background-color: var(--background-btn);
}

.promo__status {
  display: flex;
  justify-content: space-between;
}

.promo__show-status {
  width: 100%;
  height: 8px;
  background-color: var(--grey-border);
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}

.promo__show-status:before {
  position: absolute;
  content: "";
  top: 1.5px;
  left: 3px;
  height: 4px;
  width: 60%;
  background-color: var(--color-destak);
  border-radius: 4px;
}

.promo__counters {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.promo__counter {
  background-color: var(--grey-border);
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 90%;
}

.price {
  display: flex;
  align-items: center;
}

.price h3 {
  color: var(--color-destak);
  padding-right: 6px;
}

.price del {
  font-size: 13px;
}

.products__image {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.products__image img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.products__image img:hover,
.trends img:hover,
.promo__contain img:hover {
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.products__image span {
  position: absolute;
  left: 0;
  color: var(--white);
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 5px;
}

span.new {
  background-color: var(--color-new);
}

span.hot {
  background-color: var(--color-hot);
}

span.promo {
  background-color: var(--color-promo);
}

.products__image box-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 6;
  transition: all 0.5s ease;
}

.products__image box-icon:hover {
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.products__content button {
  margin-top: 8px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-destak);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 530px) {
  .capa {
    display: flex;
    justify-content: center;
  }

  .capa__contain h1 {
    font-size: 32px;
  }

  .capa__contain h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }

  .capa__contain h2 {
    font-size: 50px;
    text-align: center;
  }

  .capa__button {
    display: flex;
    position: relative;
    width: 80%;
  }

  .capa__contain button {
    padding: 5px 15px;
    bottom: -40px;
    margin-bottom: 3px;
  }

  .categories__item {
    min-width: 48vw;
  }

  .categories__box {
    width: 80%;
    padding: 15px;
  }

  .trends {
    flex-direction: row;
  }

  .trends__product {
    width: 40vw;
  }

  .trends span {
    display: none;
  }

  .trends__news,
  .trends__hots {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }

  .promo__contain {
    flex-direction: row;
  }

  .promo__contain img {
    width: 40%;
    height: 20%;
  }

  .promo__status {
    display: flex;
  }

  .products__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .products__contain {
    width: 250px;
  }

  .products__image {
    height: 250px;
  }
}

@media (min-width: 780px) {
  .capa__contain {
    padding: 15px 15px 0 15px;
  }

  .capa__contain article {
    margin: 0 40px;
  }

  .capa__contain h1 {
    font-size: 40px;
  }

  .capa__contain h3 {
    font-size: 22px;
    margin: 25px 0;
  }

  .capa__contain h2 {
    font-size: 60px;
    margin: 5px 0;
  }

  .capa__button {
    display: flex;
    width: 75%;
    margin-top: 15px;
  }

  .capa__contain button {
    padding: 8px;
    width: 50%;
  }

  .capa__img {
    width: 260px;
    height: 280px;
  }

  .capa__img img {
    width: 280px;
  }

  .categories__scroll {
    width: 750px;
  }

  .categories__item {
    min-width: 380px;
  }

  .categories__box {
    width: 90%;
  }

  .trends__content {
    width: 80%;
  }

  .trends__img {
    width: 20%;
  }

  .products__container {
    justify-content: center;
  }

  .products__contain {
    width: 225px;
    max-height: 385px;
  }

  .products__image {
    height: 225px;
  }
}

@media (min-width: 1050px) {
  .capa__contain {
    width: 72vw;
    padding: 20px 7% 0 8%;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .capa__contain button {
    bottom: -30px;
  }

  .capa__img {
    width: 300px;
    height: 280px;
    z-index: 3;
  }

  .categories__scroll {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .categories__item {
    min-width: 25vw;
  }

  .main {
    display: flex;
    align-items: flex-start;
  }

  .trends {
    flex-direction: column;
    max-width: 450px;
    padding: 0 0 0 40px;
    border-right: 1px solid var(--grey-border);
  }

  .trends__product {
    width: 350px;
  }

  .promo__contain img {
    width: 50%;
    height: 90%;
    padding: 0 30px 0 0;
  }

  .promo__head,
  .promo__contain {
    width: 90%;
  }

  .promo__content {
    font-size: 1.5em;
  }

  .promo__counter {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }
}
