* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --white: #ffffff;
  --grey-border: #e3e1e1;
  --color-hover: #dbc2a4;
  --color-title: #44312b;
  --color-destak: #c45389;
  --backround-offwhite: #f2f2f2;
  --background-btn: #e3c8de;
  --background-btn-hover: #f2e6f0;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-border);
  border-radius: 20px;
}

section.capa {
  width: 100vw;
  padding: 15px 10px;
}

.contain-capa {
  background-color: var(--backround-offwhite);
  border-radius: 10px;
  display: flex;
  padding: 10px 0 0 10px;
  position: relative;
}

.contain-capa article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.contain-capa h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: var(--color-title);
}

.contain-capa h3 {
  font-size: 15px;
  line-height: 0px;
  margin-bottom: 10px;
  color: var(--color-title);
}

.contain-capa h2 {
  font-size: 45px;
  line-height: 45px;
  color: var(--color-destak);
}

.contain-capa .button {
  display: flex;
  justify-content: center;
}

.contain-capa button {
  padding: 5px 10px;
  position: absolute;
  left: 40%;
  bottom: -10px;
  background-color: var(--background-btn);
  border-radius: 5px;
  border: 1px solid var(--grey-border);
  box-shadow: 0 1px 12px var(--grey-border);
  color: var(--color-title);
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: all 1s ease;
}

.contain-capa button:hover {
  background-color: var(--background-btn-hover);
}

.img-capa {
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.img-capa img {
  width: 150px;
}

section.categories {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.categories .scroll-categories {
  width: 100%;
  display: flex;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.categories .item-category {
  min-width: 100vw;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item-category .box-item {
  width: 85%;
  padding: 15px;
  box-shadow: 0 2px 12px var(--grey-border);
  border-radius: 15px;
  display: flex;
}

.box-item .box-ico {
  background-color: var(--backround-offwhite);
  border-radius: 10px;
  width: 20%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item .item-content {
  width: 80%;
}

.item-content .title-item {
  display: flex;
  justify-content: space-between;
}

.item-content a {
  text-decoration: none;
  color: var(--color-destak);
  font-weight: 500;
  font-size: 14px;
}

section.trends {
  display: flex;
  justify-content: center;
}

.trends h2 {
  padding: 5px;
}

.news.hidden {
  display: none;
}

.hots {
  display: none;
}

.hots.hidden {
  display: flex;
  flex-direction: column;
}

section.trends .list-product {
  width: 100%;
  padding: 15px;
  box-shadow: 0 2px 12px var(--grey-border);
  border-radius: 15px;
  display: flex;
  margin: 15px 0;
}

.news,
.hots {
  margin: 0 30px;
}

.trends .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head span {
  cursor: pointer;
}

.list-product .list-img {
  width: 40%;
  height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.list-img img {
  height: 75px;
}

.list-product .product-content {
  width: 60%;
}

h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  display: flex;
  align-items: center;
}

.price h3 {
  color: var(--color-destak);
  padding-right: 6px;
}

.price del {
  font-size: 13px;
}

.promo-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-day .head {
  padding: 10px 5px;
  margin: 15px 25px;
  border-bottom: 1px solid var(--grey-border);
  width: 85%;
}

.promo-day .contain-promo {
  border: 1px solid var(--grey-border);
  border-radius: 15px;
  background-color: var(--white);
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.contain-promo img {
  width: 100%;
}

.contain-promo p {
  font-size: 13px;
  margin-bottom: 10px;
}

.contain-promo button {
  margin: 10px 0;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-destak);
  color: var(--white);
}

.contain-promo .status {
  display: flex;
  justify-content: space-between;
}

.contain-promo .show-status {
  width: 100%;
  height: 8px;
  background-color: var(--grey-border);
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}

.contain-promo .show-status:before {
  position: absolute;
  content: "";
  top: 1.5px;
  left: 3px;
  height: 4px;
  width: 60%;
  background-color: var(--color-destak);
  border-radius: 4px;
}

.counters {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.counter {
  background-color: var(--grey-border);
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

@media (min-width: 530px) {
  section.capa {
    display: flex;
    justify-content: center;
  }

  .contain-capa h1 {
    font-size: 32px;
  }

  .contain-capa h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }

  .contain-capa h2 {
    font-size: 50px;
    text-align: center;
  }

  .contain-capa .button {
    display: flex;
    position: relative;
    width: 80%;
  }

  .contain-capa button {
    padding: 5px 15px;
    bottom: -40px;
    margin-bottom: 3px;
  }

  .categories .item-category {
    min-width: 48vw;
  }

  .item-category .box-item {
    width: 80%;
    padding: 15px;
  }

  .trends {
    flex-direction: row;
  }

  section.trends .list-product {
    width: 40vw;
  }

  .trends span {
    display: none;
  }

  .news,
  .hots {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }

  .promo-day .contain-promo {
    flex-direction: row;
  }

  .contain-promo img {
    width: 200px;
    height: 200px;
  }

  .status-promo {
    display: flex;
  }
}

@media (min-width: 780px) {
  .contain-capa {
    padding: 15px 15px 0 15px;
  }

  .contain-capa article {
    margin: 0 40px;
  }

  .contain-capa h1 {
    font-size: 40px;
  }

  .contain-capa h3 {
    font-size: 22px;
    margin: 25px 0;
  }

  .contain-capa h2 {
    font-size: 60px;
    margin: 5px 0;
  }

  .contain-capa .button {
    display: flex;
    width: 75%;
    margin-top: 15px;
  }

  .contain-capa button {
    padding: 8px;
    width: 50%;
  }

  .img-capa {
    width: 260px;
    height: 280px;
  }

  .img-capa img {
    width: 280px;
  }

  .categories .scroll-categories {
    width: 750px;
  }

  .categories .item-category {
    min-width: 380px;
  }

  .item-category .box-item {
    width: 90%;
  }

  .list-product .product-content {
    width: 80%;
  }

  .list-product .list-img {
    width: 20%;
  }

  @media (min-width: 1050px) {
    .contain-capa {
      width: 72vw;
      padding: 20px 7% 0 8%;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }

    .contain-capa button {
      bottom: -30px;
    }

    .img-capa {
      width: 300px;
      height: 280px;
      z-index: 3;
    }

    .categories .scroll-categories {
      width: 90%;
      display: flex;
      justify-content: center;
    }

    .categories .item-category {
      min-width: 25vw;
    }

    .trends {
      flex-direction: column;
      max-width: 450px;
      padding: 0 0 0 40px;
    }

    .news,
    .hots {
      border-right: 1px solid var(--grey-border);
    }

    section.trends .list-product {
      width: 350px;
    }
  }
}
